@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@layer utilities {
  .underline-expand {
    position: relative;
    /* background-color: #000; */
  }

  .underline-expand::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    border-top: 2px solid currentColor;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  .underline-expand:hover::after {
    opacity: 0.9;
    left: 10%;
    right: 10%;
  }
  .negative,
  .positive {
    @apply rounded text-light text-[11px] px-2 py-1 tracking-wider whitespace-nowrap;
  }
  .negative {
    @apply bg-reclassified;
  }
  .positive {
    @apply bg-pending;
  }
}

@layer components {
  /* =========== HEADER ========== */
  /* -- Branding ---*/
  .logo {
    @apply h-10 md:h-16 mr-3;
  }
  .company-name {
    @apply font-sans font-medium  
    text-2xl md:text-3xl lg:text-4xl 
    text-light;
  }
  /* -- Hamburger Button -- */
  .hamburger-button {
    @apply flex items-center 
    px-3 py-2 
    border rounded-lg
    text-light border-light
    hover:text-teal-200 hover:border-teal-200;
  }
  .dt-menu-container {
    @apply hidden lg:flex items-center 
    gap-6 xl:gap-7;
  }
  .dt-nav-item {
    @apply uppercase text-light  
    lg:text-[15px] xl:text-xl;
  }
  .mb-menu-container {
    @apply absolute md:w-[350px]  w-full md:right-4 px-10 z-50 bg-black rounded-b-3xl  transition-all ease-in-out duration-500 flex flex-col overflow-hidden justify-evenly uppercase;
  }
  .mb-nav-item {
    @apply text-white mx-auto text-2xl  underline-expand;
  }

  /* =========== FORM - Card ========== */
  .card {
    @apply relative
    w-4/5 md:w-[550px] lg:w-[650px] xl:w-[750px] min-h-[600px]
    flex flex-col
    mx-auto mt-8
    px-20 py-20 bg-light rounded-3xl shadow-lg overflow-hidden;
  }
  .card-cancel {
    @apply absolute top-7 right-8 bg-dark px-4 py-2 text-light text-xs rounded-full shadow-md;
  }
  /* =========== FORM - Content ========== */
  /* === Top === */
  .heading-continer {
    @apply border-b-2 mb-8 pb-4;
  }
  /* === Middle === */
  .content-container {
    @apply flex flex-grow justify-center items-center;
  }
  .input-label {
    @apply block text-sm font-medium text-gray-700;
  }
  .validation-message {
    @apply block text-sm font-medium text-red-500;
  }
  .text-input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
  }
  /* === Bottom (nav) === */
  .form-nav-container {
    @apply flex justify-center items-center mt-12 gap-12;
  }
  .form-nav-button {
    @apply flex flex-grow bg-dark text-light max-w-[40%] items-center justify-center py-4 rounded-md shadow-md hover:bg-gray-800 transition-all duration-200 ease-in-out;
  }
  /* =========== SIGHTINGS PAGE ========== */

  /* === Map Filters === */
  .marker-toggle-tab {
    @apply bg-dark flex gap-2 md:gap-4 justify-center  mx-auto  px-4 pt-3 rounded-t-[30px] pb-2;
  }

  .marker-toggle {
    @apply flex items-center 
    gap-1 md:gap-2 lg:gap-3 
    py-1.5 px-2 md:py-2 
    uppercase 
    text-xs md:text-sm rounded-full
    mb-2 md:mb-0;
  }

  .bottom-report-button {
    @apply bg-red-600 text-light text-2xl uppercase text-center w-full md:max-w-max justify-center py-4 px-6 rounded-xl;
  }

  /* =========== SIGHTING MODAL ========== */
  .carousel {
    @apply bg-gray-300 py-2;
  }
  .tag-section {
    @apply px-4 border border-dark relative py-4 mt-4;
  }
  .tag-section-label {
    @apply uppercase absolute top-[-12px] left-[12px] bg-light px-2;
  }
  .indicators {
    @apply flex flex-wrap gap-2;
  }

  .text-section-heading {
    @apply font-bold text-xl;
  }
  .summary-subheading {
    @apply text-lg font-bold;
  }
  .summary-subcontainer {
    @apply border relative border-dark rounded-xl px-10 py-3 mb-1;
  }
  .edit-label {
    @apply absolute top-2 right-2 text-xs italic;
  }
  .error {
    @apply text-red-600;
  }
}
